@using Moonlight.App.Helpers.Files
@using Moonlight.App.Services
@using Moonlight.App.Services.Interop
@using Logging.Net

@inject ToastService ToastService
@inject SmartTranslateService SmartTranslateService

<InputFile OnChange="OnFileChanged" type="file" id="fileUpload" hidden=""/>
<label for="fileUpload" class="btn btn-primary me-3">
    @if (SelectedFile != null)
    {
        <div class="input-group">
            <input type="text" class="form-control" value="@(SelectedFile.Name)">
            <button class="btn btn-danger" type="button" @onclick="RemoveSelection">
                <i class="bx bx-md bx-x"></i>
            </button>
        </div>
    }
    else
    {
        <i class='bx bx-file-find'></i>
    }
</label>

@code
{
    public IBrowserFile? SelectedFile { get; set; }

    private async Task OnFileChanged(InputFileChangeEventArgs arg)
    {
        if (arg.FileCount > 0)
        {
            if (arg.File.Size < 1024 * 1024 * 5)
            {
                SelectedFile = arg.File;
                
                await InvokeAsync(StateHasChanged);
                return;
            }
            
            await ToastService.Error(SmartTranslateService.Translate("The uploaded file should not be bigger than 5MB"));
        }

        SelectedFile = null;
        
        await InvokeAsync(StateHasChanged);
    }

    public async Task RemoveSelection()
    {
        SelectedFile = null;
        await InvokeAsync(StateHasChanged);
    }
}